svg {
  background-color: #111;
}

.map path {
  fill: #87b687;
  stroke: #999;
}

.graticule path {
  fill: none;
  stroke: #303030;
}

.main-wrapper {
  display: flex;
}

.tooltip {
  background-color: white;
  position: absolute;
  z-index: 10;
  visibility: hidden;
  padding: 5px 10px;
  border: 1px solid #444;
  color: black;
}
